<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983165916935-l4f5nnqeu69225rt1sunb78vc144pksq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983165916935-l4f5nnqeu69225rt1sunb78vc144pksq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983165916935-7hnq6fs88dcts8lu9u71njrimj4dhjul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI1BxCcoVtTXv4z5eQ0aWr3bm-iSVNbuc</string>
	<key>GCM_SENDER_ID</key>
	<string>983165916935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foursquareng.store</string>
	<key>PROJECT_ID</key>
	<string>foursquare-ebook-store</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquare-ebook-store.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983165916935:ios:35794a3843a5e274d117a2</string>
</dict>
</plist>